@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&display=swap');

h1 {
    font-family: 'Arial';
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-top: 0px;
}

.heading{
    font-family: 'Arial';
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-top: 0px;
}
.ag-theme-alpine .ag-cell {
  min-height: 20px;
  display: flex;
  align-items: center;
}
.ag-theme-alpine .custom-edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  
}



.ag-theme-alpine {
    font-family: 'Arial';
}

.action-button {
    font-family: 'Arial';
}